# Ambiente virtual do Python (essencial ignorar)
.venv/
__pycache__/
*.pyc

# Pastas com dados brutos pesados (Excel, CSV, PDF, Shapefiles)
ABVE/
ANEEL/
ANP/
FIPE/
IBGE—mapa_da_RMSP/
INMETRO/
ORIGEM_E_DESTINO*/
SENATRAN/
UBER/


# Anotações temporárias e chaves de API
APIS.txt
*.txt

# Arquivos temporários do sistema e do Excel
~$*.xlsx
.DS_Store
Thumbs.db